@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

body {
  color: #fff;
  font-family: Poppins;
  font-style: normal;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0px 15px;
}
.header {
  padding: 24px 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo-box {
    width: 260px;
    height: 40px;
    display: flex;
    align-items: center;
  }
  &__logo-first {
    width: 55px;
  }

  &__logo-second {
    width: 190px;
  }
  &__icon {
    width: 40px;
    height: 40px;
  }
}

.hero {
  &__section {
    background: url(../image/header-bg.png);
    min-height: 820px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 180px 0px;
  }

  &__container {
  }

  &__content {
    max-width: 620px;
  }

  &__subtitle {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 22px;
  }

  &__title {
    width: 616px;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 74px; /* 123.333% */
    margin-bottom: 25px;
  }

  &__descr {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-bottom: 45px;
  }

  &__link {
    color: #ffd723;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    &:hover {
      text-decoration-line: underline;
    }
  }
}
.aside {
  &__container {
    z-index: 4;
    position: relative;
    left: 160px;
    top: -90px;
    border-radius: 2px;
    background: #fff;
    box-shadow: 50px 50px 100px 0px rgba(0, 0, 0, 0.15);
  }
  &__content {
    margin: 0 auto;
    max-width: 1276px;
    display: flex;
    gap: 60px;
    padding: 60px 166px 54px 0px;
  }
  &__image {
    max-width: 156px;
    flex-shrink: 0;
    opacity: 0.8;
  }
}
.strategy {
  &__section {
  }

  &__container {
    display: flex;
    flex-direction: row;
    gap: 160px;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__subtitle {
    color: rgba(77, 83, 60, 0.9);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
  }

  &__title {
    max-width: 450px;
    margin-bottom: 35px;
    text-align: start;
  }

  &__descr {
    margin-bottom: 40px;
    color: rgba(33, 56, 66, 0.6);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
  }

  &__link {
    color: #d4d6d4;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
  }
}

.title {
  color: #4d533c;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px; /* 127.778% */
}
.descr {
  color: rgba(33, 56, 66, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.link {
  color: #d4d6d4;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}
.article {
  &__box {
    z-index: 2;
    position: relative;
    top: -250px;
    padding: 244px 8px 60px 40px;
    max-width: 474px;
    height: 644px;
    flex-shrink: 0;
    background: #fff;
    box-shadow: 0px 100px 100px 0px rgba(0, 0, 0, 0.15);
  }

  &__info {
    width: 426px;
    height: 200px;
    flex-shrink: 0;
    color: #4d533c;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 40px; /* 166.667% */
    margin-bottom: 50px;
  }

  &__image-text {
    display: flex;
    flex-direction: row;
  }

  &__logo {
    width: 140px;
    height: 140px;
  }
  &__about {
    display: flex;
    flex-direction: column;
    margin-left: -20px;
  }
  &__name {
    color: #4d533c;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 20px;
  }
  &__adress {
    color: #152934;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.projects {
  &__section {
    margin: 0 auto;
    max-width: 1440px;
    padding-bottom: 150px;
  }
  &__container {
    padding: 150px 15px 0px 0px;
  }

  &__content-top {
    display: flex;
    padding: 0px 0px 100px 165px;
    gap: 130px;
  }

  &__title {
    width: 325px;
    margin-bottom: 24px;
  }

  &__descr {
    margin-bottom: 90px;
    width: 420px;
  }

  &__content {
    display: flex;
    gap: 100px;
  }
  &__image {
    width: 750px;
    height: 550px;
    background: url(../image/product-image-1.png);
    background-position: left 0px top 0px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__column {
    width: 475px;
    height: 400px;
    display: block;
    padding-top: 80px;
  }

  &__article-top {
    padding: 30px;
    position: relative;
    z-index: 10;
    left: -525px;
    top: -90px;
    max-width: 453px;
    height: 243px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.15);
  }
  &__article-card {
    display: flex;
  }
  &__text {
    color: #4d533c;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-bottom: 24px;
  }

  &__icon {
    width: 110px;
    height: 110px;
  }

  &__name-info {
    display: flex;
    flex-direction: column;
  }

  &__info {
    color: #152934;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.column {
  width: 475px;
  height: 400px;
  display: block;
  padding-top: 80px;
}
.name {
  color: #4d533c;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.info {
  color: #152934;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.content {
  display: flex;
  gap: 100px;
}

.projects {
  &__content-midle {
    padding: 165px 0px 120px 170px;
  }

  &__article {
    padding: 30px;
    position: relative;
    z-index: 10;
    left: 500px;
    top: -120px;
    max-width: 453px;
    height: 243px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.15);
  }

  &__article-card {
    display: flex;
    align-items: center;
    margin-top: -20px;
  }

  &__name-info {
    margin-top: -30px;
    margin-left: -20px;
  }
}

.projects {
  &__article-bottom {
    padding: 30px;
    position: relative;
    left: -510px;
    top: -50px;
    z-index: 10;
    max-width: 453px;
    height: 243px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.15);
  }
}
.product {
  &__section {
  }

  &__container {
    display: block;
    padding-top: 150px;
  }

  &__title {
    width: 607px;
    margin-bottom: 70px;
  }

  &__content {
  }

  &__list {
    width: 255px;
    height: 310px;
    display: flex;
    gap: 30px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    padding: 32px;
  }

  &__small-title {
    width: 183px;
    color: #4d533c;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px; /* 141.667% */
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__descr {
    width: 194px;
    color: rgba(33, 56, 66, 0.6);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 185.714% */
    margin-bottom: 30px;
  }

  &__link {
  }
}
.top {
  margin-bottom: 56px;
}
.get {
  &__section {
    top: 180px;
    position: relative;
    width: 88%;
    background: #fafafa;
    border-radius: 2px;
    box-shadow: 50px 130px 100px 0px rgba(0, 0, 0, 0.15);
  }

  &__container {
    max-width: 1275px;
    margin: 0 auto;
    padding: 70px 289px 70px 164px;
    display: block;
  }

  &__title {
    max-width: 822px;
    color: #4d533c;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 74px; /* 123.333% */
    margin-bottom: 50px;
  }

  &__link {
  }
}
.title {
}
.link {
}

.footer {
  padding-top: 300px;
  height: 920px;
  flex-shrink: 0;
  background: url(../image/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__container {
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #5d6544;
    padding-bottom: 52px;
  }

  &__contacts-item:not(:last-child) {
    margin-right: 128px;
  }

  &__contacts-text {
    margin-bottom: 8px;
    display: block;
    width: 178px;
    color: #b6c197;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 250% */
  }

  &__contacts-value {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 250% */
  }

  &__midl {
    display: flex;
    gap: 70px;
    padding: 60px 0px;
    border-bottom: 1px solid #5d6544;
  }

  &__column {
    display: block;

    &:last-child {
      position: relative;
      margin-left: 70px;
    }
    &:last-child::before {
      content: "";
      position: absolute;
      top: 0;
      left: -130px;
      width: 1px;
      height: 100%;
      background-color: #5d6544;
    }
  }

  &__title {
    width: 167px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px; /* 237.5% */
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__item {
    width: 160px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 250% */
  }

  &__link {
    color: #b6c197;
    &:hover {
      color: #ffd723;
    }
    &:active {
      color: #fff;
    }
  }

  &__text {
    width: 270px;
    color: #b6c197;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-bottom: 21px;
  }
  &__mail {
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px; /* 158.333% */
  }
  &__socials-list {
    display: flex;
    margin-top: 21px;
  }

  &__socials-item {
    margin-right: 10px;
    background-color: #ffd723;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: block;
    padding: 9px;
    opacity: 0.4;
    &:hover {
      opacity: 1;
      transition: 0.5s;
    }
  }
}
.footer {
  &__bottom {
    padding: 24px 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    max-width: 200px;
    height: 35px;
  }

  &__copyright {
  }
}
